services:
  database:
    image: postgis/postgis:13-master
    volumes:
      - ./data/database:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "directus"
      POSTGRES_PASSWORD: "directus"
      POSTGRES_DB: "directus"
    healthcheck:
      test: ["CMD", "pg_isready", "--host=localhost", "--username=directus"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 5s
      start_period: 30s
    networks:
      - network

  cache:
    image: redis:6
    healthcheck:
      test: ["CMD-SHELL", "[ $$(redis-cli ping) = 'PONG' ]"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 5s
      start_period: 30s
    networks:
      - network

  directus:
    image: directus/directus:11.12.0
    ports:
      - 8055:8055
    volumes:
      - ./extensions:/directus/extensions
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    environment:
      SECRET: "REPLACE_WITH_YOUR_SECRET"
      EXTENSIONS_AUTO_RELOAD: "true"
      DB_CLIENT: "pg"
      DB_HOST: "database"
      DB_PORT: "5432"
      DB_DATABASE: "directus"
      DB_USER: "directus"
      DB_PASSWORD: "directus"

      CACHE_ENABLED: "true"
      CACHE_AUTO_PURGE: "true"
      CACHE_STORE: "redis"
      REDIS: "redis://cache:6379"

      ADMIN_EMAIL: "admin@example.com"
      ADMIN_PASSWORD: "t3chn0lust"

      PUBLIC_URL: "http://localhost:8055"
      CONTENT_SECURITY_POLICY_DIRECTIVES__CONNECT_SRC: "'self' http://192.168.1.225:8090 http://localhost:8090"
      CONTENT_SECURITY_POLICY_DIRECTIVES__SCRIPT_SRC_ELEM: "'self' 'unsafe-eval' https://cdn.boldreports.com https://cdn.syncfusion.com"
      CONTENT_SECURITY_POLICY_DIRECTIVES__STYLE_SRC_ELEM: "'self' 'unsafe-inline' https://cdn.boldreports.com https://cdn.syncfusion.com https://fonts.googleapis.com"
      CONTENT_SECURITY_POLICY_DIRECTIVES__FONT_SRC: "'self' data: https://fonts.gstatic.com"

      CORS_ENABLED: "true"
      CORS_ORIGIN: "true"
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
  boldreports_data:
  db_data:
